
/** Module 3 solution css file**/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/* nav bar designs */

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0 ; 
}
.navbar-brand {
  padding-top: 25px;
  margin-bottom: 10px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.65em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/*menu buttons*/

#nav-list {
  margin-top: 10px;
  font-size: 1.8em
  text-align: center;
}

#nav-list div {
  margin: 2px;
  padding: 0;
  border:1px solid black;
  font-size: 1.2em;
  color: white;
  background-color: grey;
  text-align: center;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}



/* body designs */
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

.menu{
	border: 0;
	font-size: 1.5em;
}

/** All column common ***/
.col{
		margin:20px 10px 20px 10px;
		background-color: blue;
		position: relative;
	}

/** Section head **/
.mini{
	font-size: 140%;
	margin: 0px;
	padding: 10px 0 0 0 ;
	border:0px;
	text-align: center;

}

/** Section content **/
.txt{
	margin-top:40px;
	padding: 10px;
	color:white;
}

/******Responsive Framework******/
.row{
	width: 100%;
	overflow: auto;
}
